pkgbase = xbkeeper
	pkgdesc = Small local full-backup and retention manager for Percona XtraBackup
	pkgver = 20260926
	pkgrel = 4
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	license = MIT
	makedepends = go>=1.24
	depends = xtrabackup
	options = !lto
	backup = etc/xbkeeper/xbkeeper.toml
	backup = etc/mysql/xbkeeper.cnf
	source = xbkeeper-v20260926-4.tar.gz
	sha256sums = 8a408fe5f1e4e1c7bfbdcbb2d032d785b0bc79a779c41ae6a511e79630477af0

pkgname = xbkeeper
