pkgbase = xbkeeper
	pkgdesc = Small local full-backup and retention manager for Percona XtraBackup
	pkgver = 20260926
	pkgrel = 2
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	license = MIT
	makedepends = go>=1.24
	depends = xtrabackup
	options = !lto
	backup = etc/xbkeeper/xbkeeper.toml
	source = xbkeeper-v20260926-2.tar.gz
	sha256sums = 3cc83bb9436158202752f92e91242a402244471fbfac59a504677508b3eaa366

pkgname = xbkeeper
